<h1>LRT-tool</h1>
<h3>Generate a number range.</h3>
<label>What is the I.P Address ?</label>
<input [(ngModel)]="inputIp" placeholder="192.168.1.1" (change)="validate()"/>
<span>&emsp;{{output}}</span>
<br>
<br>
<label>What is the first number in the range ?</label>
<input type="text" [(ngModel)]="PhoneNumber" placeholder="27115750000" minlength="11" maxlength="11" pattern="27([0-9]\d{8})">
<br>
<br>
<label>How many numbers in the range ?</label>
<input [(ngModel)]="rangeSize" type="text" placeholder="10" pattern="[0-9]">
<br>
<br>
<button type="button" (click)="rangeGen()">Generate Scripte</button>